{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           MoneyParce is a web application that helps users organize their personal finances in a simple and clear way. The idea is to provide tools to track expenses, set budgets, and understand how money is being used. Users will be able to enter their income and expenses, categorize their spending, and see reports about their financial situation. Since it is a web-based app, they can access it from any device, making it easy to check their finances anytime and anywhere.
        </p>
        <p>
          MoneyParce wants to help users take better control of their money by offering an easy way to manage their expenses. The platform will let users register their income and spending, automatically organize transactions into categories, and set budgets for different needs. It will also generate reports that show how the user is spending money, making it easier to see where they can save. The application will give personal financial tips based on the user's spending habits, helping them to make better financial decisions. Over time, users will be able to adjust their budgets and improve their money management.
        </p>
          <p>The platform will allow users to create an account and safely store their financial data. A budgeting system will help them set spending limits, and an expense tracker will let them record daily transactions. MoneyParce will generate reports with graphs and summaries so users can easily see their money flow. The platform will also give financial advice based on spending patterns, offering ideas on how to save or use money better. By integrating with bank APls or allowing manual entry, the app will make it simple to keep finances organized in one place.
Proposed APIs for MoneyParce: There are different APIs that you may use. Plaid API and Nordigen API can help track expenses and budgeting, and Google Charts API can support your data visualization. OpenAl and DeepSeek offer APIs to help with recommendations and live advice, etc.
</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}"
             class="max-width-100"
             alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}