{% extends 'base.html' %}

{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Reset Password</h2>
            <hr />

            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
              </div>
              {% endfor %}
            {% endif %}

            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.as_p }}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-dark text-white">Reset Password</button>
              </div>
            </form>

            <div class="text-center mt-3">
              <a href="{% url 'accounts.login' %}" class="text-decoration-none">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
